<div data-style-container="projects">
    <div data-style-title>
        <h1>projects</h1>
        <h3>here's some stuff i've built</h3>
    </div>
    <div data-style-projects>
        <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/ghosted.png"/>
            <div>
            <h1>Ghosted</h1>
            <div><i tech class="fab fa-react"></i><i tech class="fab fa-node"></i><i tech class="fas fa-database"></i><i tech class="fab fa-git"></i></div>
            <div desc>Designed a full stack web app that goes through your iMessage history and provides 
                an entire recap of your texting history, relationships, favourite words & emojis, and group chats. 
                This app will help you rediscover relationships... or break them. Created using Node.js, React, and SQLite.
            </div>
            </div>
        </div>
        <div data-style-projects>
            <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/souffle.png"/>
            <div>
                <h1>Zesty Souffle</h1>
                <div><i tech class="fab fa-react"></i><i tech class="fas fa-database"></i><i tech class="fab fa-git"></i></div>
                <div desc>Built a React application to compare, filter, search, and view restaurants and their menu items within the University of
                    Waterloo area. Explore all of the restaurants within the University Plaza, and decide where to go for your next meal!
                </div>
            </div>
        </div>
        <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/pathfinder.png"/>
            <div>
            <h1>Pathfinding Visualizer</h1>
            <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-git"></i></div>
            <div desc>Designed a visually stunning visualizer for pathfinding algorithms using VanillaJS, HTML, and CSS.
                The visualizer showcases algorithms like Dijkstra's, DFS, BFS, and Bellman-Ford, offering an intuitive and engaging experience for users.
            </div>
            </div>
        </div>
        <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/spotify.png"/>
            <div>
            <h1>Spotify Playlist Generator</h1>
            <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-git"></i></div>
            <div desc>Select tracks from your most recent listened songs, and watch as it crafts custom playlists tailored specifically
                to your musical taste. Using JavaScript, HTML, CSS, and integrating the Spotify API, my project seamlessly integrates with your Spotify
                account to create personalized playlists that are perfect for your unique musical preferences.  
            </div>
            </div>
        </div>
        <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/youtube.png"/>
            <div>
            <h1>Youtube Ad Skip Chrome Extension</h1>
            <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-git"></i></div>
            <div desc>I developed a custom Youtube ad skipper Chrome extension using HTML, CSS, and JavaScript.
                With just a click, you can also enjoy uninterrupted viewing without the hassle of annoying Youtube ads.
            </div>
            </div>
        </div>
        <div data-style-project="desktop" data-style-side="">
            <img src="../../../assets/appStore.png"/>
            <div>
            <h1>iOS News App</h1>
            <div><span class="icon cpp"></span><i tech class="fab fa-git"></i></div>
            <div desc>An iOS multi-feature news application that fetches the latest news from newsapi.org.
                Created with Swift and SwiftUI.
            </div>
            </div>
        </div>
        <div data-style-project="desktop" data-style-side="">
            <div style="display: flex; flex-direction: column">
            <h1>Personal Website</h1>
            <div>
                <i tech class="fab fa-angular"></i>
                <i tech class="fab fa-js-square"></i>
                <i tech class="fab fa-html5"></i>
                <i tech class="fab fa-css3-alt"></i>
                <i tech class="fab fa-less"></i>
            </div>
            <div desc>Welcome to my personal website!
                Learn about me, projects I've done, experiences I've lived, and watch my volleyball highlights!
                Created using Angular.
                <br/>
            </div>
            <div class="button">
                <a target="_blank" href="https://github.com/andyy-zhao/personal_website">
                View on <i class="fab fa-github"></i>
                </a>
            </div>
            </div>
            <img src="../../../assets/goat.png"/>
        </div>
    </div>
    </div>
    <app-footer-links></app-footer-links>
</div>
