<div data-style-container="volleyball">
    <h1>volleyball</h1>
    <h3>my collection of games and highlights</h3>
    <table style="width: 100%">
        <tbody>
            <tr data-style-entry="connex" (click)="goToLink('https://www.youtube.com/playlist?list=PLszEOb4RuHlznnj0quRy63BJVjJVz1qVr')">
                <td class="sideRectangle blue"></td>
                <td class="titles">
                <h2>Connex B Majors</h2> 
                <h4>Majors Games</h4>
                <i>- 2023 -</i>
                </td>
            </tr>
            <tr data-style-entry="reachHavoc" (click)="goToLink('https://www.youtube.com/watch?v=QLG5I7PT2XU')">
                <td class="sideRectangle blue"></td>
                <td class="titles">
                <h2>17U Reach Havoc</h2> 
                <h4>All Star Highlights</h4>
                <i>- 2019 -</i>
                </td>
            </tr>
        </tbody>
    </table>
    <app-footer-links></app-footer-links>
  </div>