<div data-style-container="experience">
    <div data-style-title>
        <h1>experience</h1>
        <h3>here's some stuff i've done</h3>
    </div>
    <div data-style-experiences>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(0) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/headshot2.jpg)"
            (click)="toggleDescription(0)">
            <div>
                <h1> Manulife/John Hancock</h1>
                <h4>Software Engineer</h4>
            </div>
            <div desc *ngIf="isDisplaying(0)">
                <div>May - Present 2024, Toronto CAN</div>
                <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i><i tech class="fab fa-aws"></i></div>
                
            </div>
            <i arrow *ngIf="!isDisplaying(0)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(0)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(1) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/costarica.jpeg)"
            (click)="toggleDescription(1)">
            <div>
                <h1>EzeeAssist</h1>
                <h4>Software Engineer - Franchisee Chatbot Development</h4>
            </div>
            <div desc *ngIf="isDisplaying(1)">
                <div>September - December 2023, Toronto CAN</div>
                <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i><i tech class="fab fa-aws"></i></div>
                During my internship at EzeeAssist, I spearheaded backend software development for their chatbot system, 
                employing a stack of Python, JavaScript, AWS, PostgreSQL, and MongoDB. Notable achievements include automating client file parsing and bulk data import 
                via a custom-built system, resulting in a remarkable >95% increase in client onboarding speed. 
                Additionally, I implemented efficient data pipelines utilizing Amazon SNS and SQS to ensure real-time synchronization of critical data updates across microservices.
            </div>
            <i arrow *ngIf="!isDisplaying(1)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(1)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(2) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/staring.jpg)"
            (click)="toggleDescription(2)">
            <div>
                <h1>Allstate Insurance</h1>
                <h4>Application Developer - Backend System and Software Enhancements</h4>
            </div>
            <div desc *ngIf="isDisplaying(2)">
                <div>May - August 2022, Toronto CAN</div>
                <div><i tech class="fab fa-python"></i><i tech class="fab fa-java"></i></div>
                As an Application Developer intern, 
                I focused on backend system enhancements using Python, C#, PowerShell, Java, and JUnit. 
                I developed a file processing engine in Python that
                saved over 1700 hours of manual work and resolved 52k customer requests. 
                I also automated service restarts with PowerShell, saving several hours weekly, 
                and built software in C# for digitizing paper documents. 
            </div>
            <i arrow *ngIf="!isDisplaying(2)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(2)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(3) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/irelandlandscape.jpeg)"
            (click)="toggleDescription(3)">
            <div>
                <h1>Benevity</h1>
                <h4>Software Developer - Slack Application</h4>
            </div>
            <div desc *ngIf="isDisplaying(3)">
                <div>May - August 2021, Toronto CAN</div>
                <div><i tech class="fab fa-slack"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i><i tech class="fab fa-aws"></i></div>
                As the creative mind behind a company-wide Slack application, I designed and developed a dynamic suite of Python-powered commands. This innovative solution 
                sparked a remarkable 28% surge in employee engagement with charitable causes and philanthropic initiatives.
                I also leveraged Terraform for automated cloud infrastructure management, integrating seamlessly into Benevity's Slack workspace.
            </div>
             <i arrow *ngIf="!isDisplaying(3)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(3)" class="fas fa-chevron-up"></i>
        </div>
    </div>
    <app-footer-links></app-footer-links>
</div>
