<div data-style-container="experience">
    <div data-style-title>
        <h1>experience</h1>
        <h3>here's some stuff i've done</h3>
    </div>
    <div data-style-experiences>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(0) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/lauterbrunnen.jpg)"
            (click)="toggleDescription(0)">
            <div>
                <h1>JANA Corporation</h1>
                <h4>Software Developer</h4>
            </div>
            <div desc *ngIf="isDisplaying(0)">
                <div>September - December 2024, Toronto CAN</div>
                <div>
                    <i tech class="fab fa-js-square"></i>
                    <i tech class="fas fa-database"></i>
                    <i tech class="fas fa-code"></i>
                </div>
            </div>
            <i arrow *ngIf="!isDisplaying(0)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(0)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(1) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/headshot2.jpg)"
            (click)="toggleDescription(1)">
            <div>
                <h1>Manulife/John Hancock</h1>
                <h4>Software Engineer</h4>
            </div>
            <div desc *ngIf="isDisplaying(1)">
                <div>May - August 2024, Toronto CAN</div>
                <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i></div>
                As a Software Engineer at Manulife Financial, I developed a web app to streamline workflows for over 1,000 employees, improving operational efficiency by
                 providing secure, on-demand access and reducing manual processes by 60%. I also contributed to a Jira integration project, enhancing data synchronization 
                 and automating key workflows. Additionally, I provisioned Azure Functions with private endpoints using Terraform, ensuring secure network configurations 
                 through virtual networks, DNS zone links, and access restrictions, resulting in a 30% reduction in deployment time.
            </div>
            <i arrow *ngIf="!isDisplaying(1)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(1)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(2) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/costarica.jpeg)"
            (click)="toggleDescription(2)">
            <div>
                <h1>EzeeAssist</h1>
                <h4>Software Engineer - Franchisee Chatbot Development</h4>
            </div>
            <div desc *ngIf="isDisplaying(2)">
                <div>September - December 2023, Toronto CAN</div>
                <div><i tech class="fab fa-js-square"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i><i tech class="fab fa-aws"></i></div>
                I led backend development for a chatbot system serving thousands of franchisee companies, 
                using a tech stack that includes Python, JavaScript, AWS, PostgreSQL, and MongoDB. 
                Key accomplishments include automating client file parsing and bulk data imports through a 
                custom-built system, which boosted client onboarding speed by over 95%. 
                I also implemented robust data pipelines with Amazon SNS and SQS to enable real-time synchronization 
                of critical data across microservices, ensuring optimal performance and seamless operations.
            </div>
            <i arrow *ngIf="!isDisplaying(2)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(2)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(3) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/staring.jpg)"
            (click)="toggleDescription(3)">
            <div>
                <h1>Allstate Insurance</h1>
                <h4>Application Developer - Backend System and Software Enhancements</h4>
            </div>
            <div desc *ngIf="isDisplaying(3)">
                <div>May - August 2022, Toronto CAN</div>
                <div><i tech class="fab fa-python"></i><i tech class="fab fa-java"></i></div>
                As an Application Developer Intern, I worked on backend system enhancements 
                using Python, C#, PowerShell, Java, and JUnit. 
                I developed a Python-based file processing engine that automated the generation 
                of over 3 million policy documents, saving more than 1,700 hours of manual work 
                and resolving 52,000 customer document requests. 
                I also streamlined service lifecycle management with PowerShell, 
                saving over two hours per week, and created C# software to digitize paper documents 
                using image and text recognition for data extraction and validation.
            </div>
            <i arrow *ngIf="!isDisplaying(3)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(3)" class="fas fa-chevron-up"></i>
        </div>
        <div data-style-experience="desktop"
            [attr.data-style-open]="isDisplaying(4) ? 'open' : 'closed'"
            style="background-image: url(../../../assets/irelandlandscape.jpeg)"
            (click)="toggleDescription(4)">
            <div>
                <h1>Benevity</h1>
                <h4>Software Developer - Slack Application</h4>
            </div>
            <div desc *ngIf="isDisplaying(4)">
                <div>May - August 2021, Toronto CAN</div>
                <div><i tech class="fab fa-slack"></i><i tech class="fab fa-python"></i><i tech class="fas fa-database"></i><i tech class="fab fa-aws"></i></div>
                As the creative mind behind a company-wide Slack application, I designed and developed a dynamic suite of Python-powered commands. This innovative solution 
                sparked a remarkable 28% surge in employee engagement with charitable causes and philanthropic initiatives.
                I also leveraged Terraform for automated cloud infrastructure management, integrating seamlessly into Benevity's Slack workspace.
            </div>
             <i arrow *ngIf="!isDisplaying(4)" class="fas fa-chevron-down"></i>
            <i arrow *ngIf="isDisplaying(4)" class="fas fa-chevron-up"></i>
        </div>
    </div>
    <app-footer-links></app-footer-links>
</div>
